@(title: String)(content: Html)

<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/assets/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="@routes.Assets.at("javascripts/html5shiv.js")"></script>
      <script src="@routes.Assets.at("javascripts/respond.min.js")"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <h1>@title</h1>
      @content
      <script src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")"></script>
      <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    </div>
  </body>
</html>
